{{ (bitwardenFields "item" "SSH Key").private_key_0.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_1.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_2.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_3.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_4.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_5.value }}
{{ (bitwardenFields "item" "SSH Key").private_key_6.value }}
