{{ (bitwardenFields "item" "Github").private_key_0.value }}
{{ (bitwardenFields "item" "Github").private_key_1.value }}
{{ (bitwardenFields "item" "Github").private_key_2.value }}
{{ (bitwardenFields "item" "Github").private_key_3.value }}
{{ (bitwardenFields "item" "Github").private_key_4.value }}
{{ (bitwardenFields "item" "Github").private_key_5.value }}
{{ (bitwardenFields "item" "Github").private_key_6.value }}
{{ (bitwardenFields "item" "Github").private_key_7.value }}
{{ (bitwardenFields "item" "Github").private_key_8.value }}
{{ (bitwardenFields "item" "Github").private_key_9.value }}
{{ (bitwardenFields "item" "Github").private_key_10.value }}
{{ (bitwardenFields "item" "Github").private_key_11.value }}
{{ (bitwardenFields "item" "Github").private_key_12.value }}
{{ (bitwardenFields "item" "Github").private_key_13.value }}
{{ (bitwardenFields "item" "Github").private_key_14.value }}
{{ (bitwardenFields "item" "Github").private_key_15.value }}
{{ (bitwardenFields "item" "Github").private_key_16.value }}
{{ (bitwardenFields "item" "Github").private_key_17.value }}
{{ (bitwardenFields "item" "Github").private_key_18.value }}
{{ (bitwardenFields "item" "Github").private_key_19.value }}
{{ (bitwardenFields "item" "Github").private_key_20.value }}
{{ (bitwardenFields "item" "Github").private_key_21.value }}
{{ (bitwardenFields "item" "Github").private_key_22.value }}
{{ (bitwardenFields "item" "Github").private_key_23.value }}
{{ (bitwardenFields "item" "Github").private_key_24.value }}
{{ (bitwardenFields "item" "Github").private_key_25.value }}
{{ (bitwardenFields "item" "Github").private_key_26.value }}
{{ (bitwardenFields "item" "Github").private_key_27.value }}
{{ (bitwardenFields "item" "Github").private_key_28.value }}
{{ (bitwardenFields "item" "Github").private_key_29.value }}
{{ (bitwardenFields "item" "Github").private_key_30.value }}
{{ (bitwardenFields "item" "Github").private_key_31.value }}
{{ (bitwardenFields "item" "Github").private_key_32.value }}
{{ (bitwardenFields "item" "Github").private_key_33.value }}
{{ (bitwardenFields "item" "Github").private_key_34.value }}
{{ (bitwardenFields "item" "Github").private_key_35.value }}
{{ (bitwardenFields "item" "Github").private_key_36.value }}
{{ (bitwardenFields "item" "Github").private_key_37.value }}
